version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"   # Puerto del backend
    environment:
      PORT: 3000
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: root
      DB_PASS: rootpassword
      DB_NAME: reservation_iot_db
      DB_DIALECT: mysql
      MQTT_BROKER_URL: mqtt://mqtt:1883
      API_KEY: secret-api-key-123
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
      - mqtt
    restart: always

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: reservation_iot_db
      MYSQL_USER: root
      MYSQL_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: always

  mqtt:
    image: eclipse-mosquitto:2.0
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    restart: always

volumes:
  db_data:
